.App {
  text-align: center;
}

.App-canvas {
  position: absolute;
  left: 10px;
  top: 60px;
}

.App-link {
  color: #61dafb;
}

.reset_button {
  position: absolute;
  left: 380px;
  top: 100px;

}

.config_4x4_button {
  position: absolute;
  left: 0px;
  top: 0px;

}

.config_5x5_button {
  position: absolute;
  left: 40px;
  top: 0px;

}

.config_6x6_button {
  position: absolute;
  left: 80px;
  top: 0px;

}

.clockwise_button {
  position: absolute;
  left: 10px;
  top: 470px;
  
}

.counterClockwise_button {
  position: absolute;
  left: 90px;
  top: 470px;
  
}